<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>Manager</title>
</head>
<body style = "background:orange;">
	<div style = "display:flex;justify-content:center">
	<h1 id = "greet"></h1>
	</div>
	
	<div style ="display:flex;justify-content:right">
	<div>
	<br>
	<button id = "viewAllPend" class="form-control mb-3" type="submit">View all pending reimbursement requests</button>
    <br>
	<button id = "viewAllRes" class="form-control mb-3" type="submit">View all resolved reimbursement requests</button>
    <br>
	<button id = "viewAllEmp" class="form-control mb-3" type="submit">View all employees</button>
    <br>
    <button id = "viewReqEmp" class="form-control mb-3" type="submit">View all requests from an employee</button>
    <br>
    <button id = "logout" class="form-control mb-3" type="submit">Log out</button>
	</div>
	</div>
<script src="static/scripts/manager.js"></script>
</body>
</html>